* text=auto
*.md linguist-language=Markdown
*.yaml linguist-language=YAML

/* linguist-detectable=false
src/css/* linguist-language=CSS
src/images/* linguist-detectable=false
src/* linguist-language=HTML
