@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: #222;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* TopInfo */
.topinfo-bg {
    background: #122ab2;
    color: #fff;
}

.topinfo {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topinfo p, .topinfo a {
    margin: 0 10px 10px 10px;
}

.topinfo a {
    color: #fff;
}

/* Menu */
.menu-bg {
    background: #2c70ff;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #fff;
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    color: #122ab2;
}

/* Introduction */
.introduction {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    font-size: 3em;
    line-height: 1;
}

/* About */
.about {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
    display: flex;
    flex-wrap: wrap;
}

.about-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.about-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.about-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.about-img {
    flex: 1 1 160px;
    margin: 0 10px;
}


